#pagina {
    display: grid;
    grid-template-columns: 33% 67%;
	grid-gap: 1vw;
}

#baralatime{
	font-size: 1vw;
    width:30vw;
	margin-right: 1vw;
}


.articol{
    background-color: rgba(255, 185, 100, 1);
	font-size: 1.5vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    text-align: center;
    border:darkblue;
    border-style: solid;
    margin-bottom: 1.5vw;
}

.grafic{
	margin-bottom: 2vw;
	border:rgb(128, 128, 255);
	border-style: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.butonSee {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:2vw;
	border:0.1vw solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2vw;
	padding: 0.3vw 1.2vw;
	text-decoration:none;
	text-shadow:0vw 0.1vw 0vw #810e05;
}
.butonSee:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.butonSee:active {
	position:relative;
	top:0.1vw;
}

.butonSee1 {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:2vw;
	border:0.1vw solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2vw;
	padding:0.3vw 1.2vw;
	text-decoration:none;
	text-shadow:0vw 0.1vw 0vw #810e05;
}
.butonSee1:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.butonSee1:active {
	position:relative;
	top:0.1vw;
}

.search {
	display: flex; 
	flex-direction: row;
	margin-top: 1vw;
	margin-bottom: 1vw;
  }

  
input[type=number], select{
	font-size: 1vw;
	width: 100%;
	padding: 1vw;
	border: 0.1vw;
	border-radius: 0.4vw;
	box-sizing: border-box;
	resize: vertical;
  }
  
  label {
	padding: 1vw 1vw 1vw 0;
	display: inline-block;
  }
  
  .filters {
	font-size: 1vw;
	border-radius: 0.6vw;
	background-color: #663399;
	padding: 2vw;
  }
  
  .filterlabel {
	float: left;
	color:#35e7ac;
	font-family:Arial;
	font-weight:bold;
	width: 25%;
	margin-top: 0.1vw;
  }
  
  .filteritem {
	float: left;
	color:#35e7ac;
	font-family:Arial;
	font-weight:bold;
	width: 75%;
	margin-top: 0.1vw;
  }
  
  .filterline:after {
	content: "";
	display: table;
	clear: both;
  }


@media screen and (max-width:800px){
	.filterlabel, .filteritem{
		width: 100%;
		margin-top: 0;
	  }
	.articol {
		display: block;
		font-size: 4vw;
	}

	.butonSee {
		font-size: 5vw;
	}

	.butonSee1 {
		font-size: 4vw;
	}
}