#baralimbi {
    display:grid;
    grid-template-columns: 6fr 1fr 1fr;
}

#pagina {
    display: grid;
    grid-template-columns: 33% 67%;
}

#baralatime{
    width:30%;
}

.articol{
    background-color: rgba(255, 185, 100, 1);
	font-size: 1.5vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    text-align: center;
    border:darkblue;
    border-style: solid;
    margin-bottom: 1.5vw;
}

.grafic{
	margin-bottom: 2vw;
	border:rgb(128, 128, 255);
	border-style: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.steag{
    height: 70%;
    width: 70%;
}

.butonSee {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:2vw;
	border:0.1vw solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2vw;
	padding: 0.3vw 1.2vw;
	text-decoration:none;
	text-shadow:0vw 0.1vw 0vw #810e05;
}
.butonSee:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.butonSee:active {
	position:relative;
	top:0.1vw;
}

.butonSee1 {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:2vw;
	border:0.1vw solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2vw;
	padding:0.3vw 1.2vw;
	text-decoration:none;
	text-shadow:0vw 0.1vw 0vw #810e05;
}
.butonSee1:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.butonSee1:active {
	position:relative;
	top:0.1vw;
}

@media screen and (max-width:800px){
	.articol {
		display: block;
		font-size: 4vw;
	}

	.butonSee {
		font-size: 5vw;
	}
}