<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="../resurse/Poze/icon.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resurse/styles/editarticle.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Delete</title>
</head>

<body style="background-color:#d8b378">

    <p style="text-align: center;">
        <a id="backbutton" class="buton">Back</a>
    </p>
    <div id="errorMsg"></div>
    <script src="../resurse/js/delete.js"></script>
</body>

</html>